{% extends '::frontend.html.twig' %}

{% block title %} | Error{% endblock %}

{% block contenidor %}
    <div class="contenidor">
        <div class="continguts">
            <div class="registre">
                <h1>{% block error_text %}Error{% endblock %}</h1>
            </div>
        </div>
    </div>
{% endblock %}
