.idea/*
.project
app/bootstrap.php.cache
app/bootstrap_cache.php.cache
app/config/parameters.ini
app/cache/*
app/logs/*
app/sessions/*
/app/database/*
!/app/database/.gitkeep
/app/Resources/imports/*
!app/sessions/.gitkeep
app/config/parameters.yml
vendor/*
web/bundles/*
web/uploads
/web/media/
composer.phar
*~
*.sublime-project
*.sublime-workspace
.DS_Store
mailinglopati.txt
app/config/deploy.rb
Capfile
backups/*
!/web/media/.gitkeep
!/web/css/.gitkeep
!/web/js/.gitkeep
!/web/images/.gitkeep
!.travis.yml
