.idea/*
.project
app/bootstrap.php.cache
app/bootstrap_cache.php.cache
app/config/parameters.ini
app/cache/*
app/logs/*
app/sessions/*
/app/Resources/imports/*
!app/sessions/.gitkeep
app/config/parameters.yml
vendor/*
web/bundles/*
web/uploads/cache/*
web/uploads
composer.phar
*~
*.sublime-project
*.sublime-workspace
.DS_Store
mailinglopati.txt
app/config/deploy.rb
Capfile
