{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.horari %}
            {{ object.horari | raw }}
        {% else %}
            ---
        {% endif %}
    </div>
{% endblock %}