{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% spaceless %}
        <div>
            {% if object.image %}
                <img src="{{ vich_uploader_asset(object, 'imageFile') | imagine_filter('thumb_imatge_admin_list_view') }}" alt="{{ object.altName }}">
            {% else %}
                ---
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
