{% block user_block %}
    {% if app.user %}
        <div class="btn-group">
            <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> {{ app.user }}</a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu pull-right">
                <li><a href="{{ url('sonata_user_admin_security_logout') }}"><i class="icon-off"></i> Sortir</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
