parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: database        #change this
    database_user: user            #change this
    database_password: password    #change this
    unix_socket:                   #path/to/mysql.sock
    mailer_transport: gmail
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    encryption: ssl
    auth_mode: login
    locale: ca
    secret: 9118197c01dddcc43752b3136f2f10de8
    database_path: null
    port_elastica: 80
  
    id_categoria_projectes: 3       #change this
    id_page_item_projectes: 18      #change this
    id_page_item_irradiador: 124    #change this

    swiftmailer_delivery_address_dev_environment: me@me.com     #change this

    mandril_api_key_test: "secret-api-token-test"
    mandril_api_key: "secret-api-token"

    admin_user_test: test   #change it
    admin_pass_test: test   #change it
