parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    database_path: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    encryption: ssl
    auth_mode: login

    locale: ca
    secret: ThisTokenIsNotSoSecretChangeIt

    port_elastica: 9200
  
    id_categoria_projectes: 3       #change this
    id_page_item_projectes: 18      #change this
    id_page_item_irradiador: 124    #change this

    swiftmailer_delivery_address_dev_environment: me@me.com     #change this

    sendgrip_username:   "sendgrip_username"
    sendgrip_password:   "sendgrip_password"
    sendgrip_api_key:    "sendgrip_api_key"
    sendgrid_from_name:  "your email name"
    sendgrid_from_email: "your@email.com"

    admin_user_test: test   #change it
    admin_pass_test: test   #change it

    private_admin_test_user: admin
    private_admin_test_pass: admin
    private_editor_test_user: user
    private_editor_test_pass: user

    email_address_test_1: "test1@email.com"
    email_address_test_2: "test2@email.com"
    email_address_test_3: "test3@email.com"
