<div class="center-block" style="margin-bottom:0;padding:10px;background-color:#F92178;">
    <img src="{{ asset('images/logo_lopati_magenta.jpg') }}" alt="{{ sonata_admin.adminPool.title }}" class="img-responsive">
</div>
