<div class="login-logo">
    <a href="{{ path('sonata_admin_dashboard') }}">
        <div>
            <img src="{{ asset('images/logo_lopati_magenta.jpg') }}" alt="{{ sonata_admin.adminPool.title }}" class="img-responsive">
        </div>
    </a>
</div>
