{% if not object.estat and object.test %}
    <a href="{{ admin.generateObjectUrl('enviar', object) }}" class="btn edit_link btn-small" title="Envia">
            <i class="icon-envelope"></i>&nbsp;Envia
    </a>
{% endif %}
