{% if not object.estat and object.test %}
    <a href="{{ admin.generateObjectUrl('enviar', object) }}" class="btn btn-sm btn-default edit_link" title="Envia">
            <i class="fa fa-envelope"></i></a>
{% endif %}
