{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div style="text-align:center">
        {% if object.date %}
            {{ object.date | date("d/m/Y") }}
        {% else %}
            ---
        {% endif %}
    </div>
{% endblock %}
