{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.estat %}
            {% if object.estat == 'Waiting' %}
                <span class="label label-info">esperant</span>
            {% elseif object.estat == 'Sending' %}
                <span class="label label-warning">enviant</span>
            {% elseif object.estat == 'Sended' %}
                <span class="label label-success">enviat</span>
            {% endif %}
        {% else %}
            <span class="label label-important">no enviat</span>
        {% endif %}
    </div>
{% endblock %}
