{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.estat %}
            {% if object.subscrits != 0 %}
                {% set percentage = (object.enviats / object.subscrits) * 100 %}
            {% else %}
                {% set percentage = 0 %}
            {% endif %}
            {% if percentage < 33 %}
                {% set color = 'danger' %}
            {% elseif percentage >= 33 and percentage < 66 %}
                {% set color = 'warning' %}
            {% else %}
                {% set color = 'success' %}
            {% endif %}
            <div class="progress">
                <div class="bar bar-{{ color }}" style="width: {{ percentage }}%;">{{ percentage|round(0) }}%</div>
            </div>
        {% endif %}
    </div>
{% endblock %}
