<a class="btn sonata-action-element" href="{{ admin.generateUrl('list') }}">{{ 'link_action_list' | trans({}, 'SonataAdminBundle') }}</a>

{% include 'NewsletterBundle:Default:mail2.html.twig' with {pagines: pagines} %}

{% block footer %}{% endblock %}
