<a href="{{ admin.generateObjectUrl('preview', object) }}">        <img src="{{ asset('bundles/sonataadmin/famfamfam/magnifier.png') }}" alt="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}" /></a>

