@font-face {
    font-family: 'BrauerPatiBol';
    src: url('/fonts/BrauerPatiBol/BrauerPatiBol.eot');
    src: url('/fonts/BrauerPatiBol/BrauerPatiBol.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BrauerPatiBol/BrauerPatiBol.woff') format('woff'),
         url('/fonts/BrauerPatiBol/BrauerPatiBol.ttf') format('truetype'),
         url('/fonts/BrauerPatiBol/BrauerPatiBol.svg#BrauerPatiBol') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	font-family: arial, sans-serif;
	font-size: 0.9em;
	color: #666;
	background-color: white;
	margin: 0px;
	padding: 0px;
}
A {
	color: #666;
	text-decoration: underline;
}
A:Hover {
	color: #E31853;
	text-decoration: underline;
}
a:focus {
	outline:none;
} 

.registre form { 
	margin: 0px; 
}
.registre form .camp { 
	width: 150px; 
	float: left; 
}
.registre form p {
	padding: 2px;
}
.registre form input {
	background-color: #ffffff;
	border: 1px solid #999999;
	padding: 2px;
}
.registre form textarea {
	background-color: #ffffff;
	border: 1px solid #999999;
	padding: 2px;
}
.registre form .obligatori { 
	background-color: #b6abab;
	border: 1px solid #999999;
}
:focus { outline: 0; }

h1 {
	font-size: 190%;
	color: #392e2e;
	margin: 10px 0px 5px 5px;
	padding: 0px 0px 5px 0px;
	font-weight: normal;
	font-family: BrauerPatiBol;
}
h2 {
	font-size: 160%;
	color: #5A7986;
	margin: 10px 0px 5px 5px;
	padding: 0px 0px 5px 0px;
}
h3 {
	font-size: 130%;
	color: #5A7986;
	margin: 10px 0px 5px 5px;
	padding: 0px 0px 5px 0px;
}
h4 {
	font-size: 110%;
	color: #5A7986;
	margin: 10px 0px 5px 5px;
	padding: 0px 0px 5px 0px;
}
h5 {
	font-size: 100%;
	color: #5A7986;
	margin: 10px 0px 5px 5px;
	padding: 0px 0px 5px 0px;
}
h6 {
	font-size: 90%;
	color: #5A7986;
	margin: 10px 0px 5px 5px;
	padding: 0px 0px 5px 0px;
}
h7 {
	font-size: 80%;
	color: #5A7986;
	margin: 10px 0px 5px 5px;
	padding: 0px 0px 5px 0px;
}
img {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
img.dta {
	float: right;
	padding: 5px;
	margin: 5px 0px 5px 5px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}
img.esq {
	float: left;
	padding: 5px;
	margin: 5px 5px 5px 0px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	}
img.mig {
	text-align: center;
	display: block;
	margin: 5px 5px 5px 5px;
	padding: 5px;
	border: 1px solid #cccccc;
	background-color: #ffffff; 
}
.contenidor {
	width: 756px;
	margin: 0px;
	min-height: 450px; height: auto !important; height: 300px;
	padding: 0px;
	float: left;
	margin: 0px;
}
.continguts {
	width: 100%;
	min-height: 300px; height: auto !important; height: 300px;
	/* height:100%; */
	margin: 30px 0px 0px 0px;
	padding:0;

}

.esquerra {
	float:left;
	width: 1px;
	height: 100%;
	background-color: #ffffff;
}
.esquerra p {
	margin: 5px 10px 0px 10px;
	margin: 0px;
}

.dreta {
	width: 180px;
	float:right;
	height: 100%;
	margin: 30px 0px 0px 0px;
	background-color: #fff;
}
.dreta p {
	margin: 0px;
}


.situacio {
    width: 100%; 
    height: 20px; 
    line-height: 30px; 
    vertical-align: middle;
    margin: 2px 0px 0px 0px; 
    padding: 0px;
    color: #ffffff;
	font-size: 80%;
	clear: both;
	background-color: #fff;
}
.situacio ul {
    width: 95%; 
    height: 20px; 
    padding: 0px 0px 0px 10px;
    margin: 0px 10px; 
    list-style-type:none;
    float: left;
    vertical-align: middle;
	
}
.situacio ul li {
    height: 15px; 
    line-height: 15px; 
    vertical-align: middle; 
    float: left;
    margin: 0px 0px 0px 0px;
	padding: 0px 5px 0px 5px;
    color: #ffffff;
}
.situacio ul li a {
    height: 15px; 
    line-height: 15px; 
    vertical-align: middle;
    margin: 0px;
	padding: 0px 10px 0px 0px;
    color: #404040;
	display: block;
	border-right: 1px solid #408080; /* ***************************************** */
}
.situacio ul li a:hover {
    color: #766868;
}
.situacio ul li p {
    height: 15px; 
    line-height: 15px; 
    vertical-align: middle;
    margin: 0px;
    float: left;
	font-weight: bold;
    text-decoration: none;
    color: #404040; 
}


table {
    text-align: left;
}



.bloc_usuari {
	width: 300px;
	height: 50px;
	margin: 0px;
	padding: 0px 5px 0px 5px;
	text-align: left;
	float: right;
	font-size: 8pt;
	color: #000000;
	background-color: #ff80c0;
	text-align: left;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	}

.bloc_usuari form {
	margin: 0px;
	padding: 0px;
}
.bloc_usuari p {
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	margin: 0px;
	padding: 0px 5px 0px 5px;
}
.bloc_usuari a {
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}
.bloc_usuari input {
	margin: 0px;
	padding: 0px;
}

.cap {
	width: 100%; 
	height: 134px;
	margin: 0px; 
	padding: 0px;
	clear: both;
}
.cap .logo {
	width: auto;
	height: 134px;
	margin: 0px;
	padding: 0px;
	float: left;
}

.cap .sup { 
	width: 180px;
	height: 134px;
	margin: 0px; 
	padding: 0px;
	float: right;
}
.idiomes {
	width: 180px;
	height: 20px;
	font-size: 90%;
	text-align: left;
	margin-top:25px;
}
.idiomes a {
	color: #666;
	text-decoration: none;
}
.idiomes a:hover {
	color: #000;
}

.buscador {
	width: 180px;
	height: 35px;
	clear: both;
	margin: 0px;
	padding: 0px;
}
.buscador p {
    width:  159px;
	margin: 0px;
	padding: 0px;
	height: 30px;
}
.buscador form {
	margin: 0px;
	padding: 0px;
}
.buscador form input {
	margin: 0px;
	padding: 0px;
	height: 20px;
}

.buscador1 {
	width: 95%;
	height: 30px;
	clear: both;
	margin: 5px 10px;
	padding: 0px;
	font-size: 120%;
}
.buscador1 p {
	margin: 0px;
	padding: 0px;
}
.buscador1 form {
	margin: 0px;
	padding: 0px;
}
.buscador1 form input {
	margin: 0px;
	padding: 0px;
	font-size: 120%;
}

.imatgecap {
	width: 900px;
	height: 320px;
	margin: 0px auto;
	border-bottom: 4px solid #E4E5E8;
	clear: both;
	background-image: url(/images/carregant01.gif);
	background-repeat: no-repeat;
	background-position: center 130px;
	background-color: #ffffff;
	overflow: hidden;
}
.marcimatgecap {
	width: 900px;
	height: 320px;
	background-image: url(/images/marc_foto_cap.png);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 20;
	z-index: 1;
}
#imgcap1 {
	width: 900px;
	height: 320px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #ffffff;
}
#imatgee {
	width: 1000px;
	height: 350px;
	margin-top: -20px;
	margin-left: -50px;
	z-index: 1000;
	background-color: #ffffff;
}


.imatge { 
    margin: 0px 0px 0px 0px; 
    padding: 0px;
	clear: both;
}

.pagina {
	width: 950px;
	min-height: 600px; 
	height: auto !important; 
	height: 600px; 
	margin: 40px auto;
	background-color: #ffffff;
	position: relative;
	/*
	overflow: hidden; 
	_display: inline-block; /*nomes per IE6*/
}


.blocs { 
    width: 100%;
    float: left; 
}
.blocmig { 
    margin: 0px 195px 0px 165px;
}
.blocesquerra {
    width: 165px; 
    float: left; 
    margin-left: -100%; height: 100%; 
    background-color: #ff00ff;
}
.blocesquerra p { margin: 5px 10px 0px 10px; }
.blocdreta {
    width: 195px; 
    float: left;  
    margin-left: -195px; 
    height: 100%; 
    background-color: #8000ff; 
}
.principal {
    float: left;
    width: 98%;
    margin: 5px 0px 0px 5px;
    padding: 0px;
    vertical-align: top;
    list-style-type: disc; 
    min-height: 500px;
    height: auto !important;
    height: 500px;
}


/***
 * Menu
 ***/
.categories { 
  width: 100%; 
  height: 28px; 
  max-height: 28x;
  margin: 0px; 
  padding: 0px; 
  overflow: visible;
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
  font-size: 100%;
}

.categories ul { 
  width: 100%;
  height: 28px;
  padding: 0px;
  margin: 0px;
  clear: both;
}

.categories ul li { 
  width: auto;
  vertical-align: middle;
  margin: 7px 10px 5px 0px;
  padding: 0px 10px 0px 0px;
  display: block;
  float: left;
  border-right: solid 1px #666;
}

.categories ul li:last-child { border-right: none; }

.categories ul li img { margin: 0px; }

.categories ul li a {
  display: block; 
  width: auto;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  color: #666;
  transition: color 0.25s;
  -moz-transition: color 0.25s; /* Firefox >= 4 */
  -webkit-transition: color 0.25s; /* Safari and Chrome */
  -o-transition: color 0.25s; /* Opera */
}

.categories ul li a.actiu {
	color: #E31853;
	}
	
.categories ul li a span {
  vertical-align: text-bottom;
  margin-left: 0px;
}

.categories ul li a:hover {
  vertical-align: middle;
  color: #E31853;
  cursor: pointer;
}

.subcat {
	width: 100%; 
  height: 28px; 
  max-height: 28x;
  margin: 0px; 
  padding: 0px; 
  overflow: visible;
  border-bottom: solid 1px #666;
  font-size: 100%;
}

.subcat ul {
	width: 100%;
  height: 28px;
  padding: 0px;
  margin: 0px;
  clear: both;
}

.subcat ul li { 
  width: auto;
  vertical-align: middle;
  margin: 7px 10px 5px 0px;
  padding: 0px 10px 0px 0px;
  display: block;
  float: left;
  border-right: solid 1px #666;
}

.subcat ul li span a.actiu {
	color: #E31853;
}
	
.subcat ul li:last-child {
  border-right: none;
}

.subcat ul li a {
	display: block; 
  width: auto;
  vertical-align: middle;
  text-decoration: none;
  color: #666;
  transition: color 0.25s;
  -moz-transition: color 0.25s; /* Firefox >= 4 */
  -webkit-transition: color 0.25s; /* Safari and Chrome */
  -o-transition: color 0.25s; /* Opera */
}

.subcat ul li a:hover {
	vertical-align: middle;
	color: #E31853;
}

.dalt {
	width: 100%;
	height: 11px;
	background-image: url(/images/fons_subcat_01.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.dalt .daltesq {
	width: 15px;
	height: 15px;
	float: left;
	/* background-image: url(/images/fons_subcat_01.png);
	background-repeat: no-repeat;
	background-position: 0px 0px; */
	background-color: #766868;
	
}
.dalt .daltmig {
	float: left;
	height: 15px;
	background-color: #766868;
	/* background-image: url(/images/fons_subcat_02.png);
	background-repeat: repeat-x;
	background-position: 0px top; */
}
.dalt .daltdta {
	width: 15px;
	height: 15px;
	float: right;
	/* background-image: url(/images/fons_subcat_01.png);
	background-repeat: no-repeat;
	background-position: -15px 0px; */
	background-color: #766868;
}
.baix {
	width: 100%;
	height: 15px;
}
.baix .baixesq {
	width: 15px;
	height: 15px;
	float: left;
	/* background-image: url(/images/fons_subcat_01.png);
	background-repeat: no-repeat;
	background-position: left bottom; */
	background-color: #766868;
	
}
.baix .baixmig {
	float: left;
	height: 15px;
	background-color: #766868;
	/* background-image: url(/images/fons_subcat_02.png);
	background-repeat: repeat-x;
	background-position: 0px bottom; */
}
.baix .baixdta {
	width: 15px;
	height: 15px;
	float: right;
	/* background-image: url(/images/fons_subcat_01.png);
	background-repeat: no-repeat;
	background-position:  right bottom; */
	background-color: #766868;
}



.categories02 { 
	width: 400px;
	height: 30px;
	float: right;
	margin: 0px 20px 10px 0px;
	margin: 0px; 
	padding: 0px; 
	overflow: visible;
	font-size: 95%;
}
.categories02 ul {
	float: right;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding: 0px 20px 0px 0px; 
	margin: 0px 0px 0px 0px;
	clear: both;
	border-left: 1px solid #8D9E9B;
}
.categories02 ul li { 
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	display: inline;
	border-right: 1px solid #8D9E9B;
}
.categories02 ul li a {
	display: block; 
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding: 0px 5px;
	vertical-align: middle;
	text-decoration: underline;
	color: #000000;
}
.categories02 ul li a:hover {
	display: block; 
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-decoration: underline;
	color: #000000;
	background-color: #B6C2C1;
}
.subcat02 {
	position: absolute;
	top: 66px;
	z-index:2;
	visibility: hidden;
	padding: 0px 0px 0px 10px;
}
.subcat02 ul {
	width: 200px;
	padding: 0px 0px; 
	margin: 0px 0px 0px 0px; 
	list-style-type:none; 
	border-left: 1px solid #8D9E9B;
	border-right: 1px solid #8D9E9B;
	background-color: #B6C2C1;
}
.subcat02 ul li { 
	margin: 0px 0px 0px 0px; 
	min-height: 25px;
	height: auto !important;
	height: 25px; 
	line-height: 25px; 
	vertical-align: middle;
}
.subcat02 ul li a {
	height: 25px; 
	display: block; 
	margin: 0px; 
	padding: 0px 5px;
	font-size: 90%;  
	border-bottom: 1px solid #8D9E9B;
	background-color: #B6C2C1;
	color: #000000; 
	text-decoration: none;
	font-weight: normal;
}
.subcat02 ul li a:hover {
	height: 25px; 
	display: block; 
	margin: 0px; 
	padding: 0px 5px;
	color: #000000;
	background-color: #dedede;
}

.dalt02 {
	width: 100%;
	height: 15px;
}
.dalt02 .daltesq02 {
	width: 15px;
	height: 15px;
	float: left;
	background-image: url(/images/fons_subcat_01_02.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	
}
.dalt02 .daltmig02 {
	float: left;
	height: 15px;
	background-color: #B6C2C1;
	background-image: url(/images/fons_subcat_02_02.png);
	background-repeat: repeat-x;
	background-position: 0px top;
}
.dalt02 .daltdta02 {
	width: 15px;
	height: 15px;
	float: right;
	background-image: url(/images/fons_subcat_01_02.png);
	background-repeat: no-repeat;
	background-position: -15px 0px;
}
.baix02 {
	width: 100%;
	height: 15px;
}
.baix02 .baixesq02 {
	width: 15px;
	height: 15px;
	float: left;
	background-image: url(/images/fons_subcat_01_02.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	
}
.baix02 .baixmig02 {
	float: left;
	height: 15px;
	background-color: #B6C2C1;
	background-image: url(/images/fons_subcat_02_02.png);
	background-repeat: repeat-x;
	background-position: 0px bottom;
}
.baix02 .baixdta02 {
	width: 15px;
	height: 15px;
	float: right;
	background-image: url(/images/fons_subcat_01_02.png);
	background-repeat: no-repeat;
	background-position:  right bottom;
}



.dades{
	width: 95%;
	margin: 5px;
	border: 1px solid #336699;
	font-weight: bold;
}
.dades p {
	margin: 5px;
}

.destacats {
	width: 180px;
	min-height: 150px;
	height: auto !important;
	height: 150px; 
	margin: 0px;
	padding: 0px;
	clear: both;
}
.destacats img { }
.destacats .destacat {
	width: 100%;
	min-height: 30px;
	height: auto !important;
	height: 30px; 
	margin: 0px 0px 20px 0px;
	padding: 0px;
}
.destacats .destacat a {
	color: #666666;
	text-decoration: none;
	display: block;opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}
.destacats .destacat a:hover {
	color: #E31853;
	text-decoration: none;opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.destacats .destacat img {
	margin: 0px;
	padding: 0px;
}

.subcat_dreta {
	width: 180px;
}
.subcat_dreta h2 {
	color: #666;
	font-size: 100%;
	margin: 0px;
	padding: 4px 0px 0px 0px;
	height: 25px;
	border-top: 1px solid #666;
}
.subcat_dreta .paginador {
	margin: 5px 0px;
	padding: 0px;
}
.subcat_dreta .paginador .pactual {
	color: #E31853;
	padding: 0px 19px 0px 0px;
}
.subcat_dreta .paginador a {
	color: #666;
	text-decoration: none;
	margin: 0px 19px 0px 0px;
}
.subcat_dreta .paginador a:hover {
	color: #E31853;
}

ul.resultat_buscador {
}
ul.resultat_buscador li {
	margin-bottom: 5px;
}
ul.resultat_buscador a {
	text-decoration: none;
}

.peu {
	width: 950px;
	min-height: 10px;
	height: auto !important;
	height: 40px;
	margin: 0px auto;
	text-align: left; 
	padding: 5px 0px;
	clear: both;
	font-size: 80%;
	border-top: 1px solid #666;
}
.peu p {
    padding: 0px;
    margin: 0px 0px;
}
.peu a {
	color: #666;
	text-decoration: none;
}
.peu a:hover {
	color: #E31853;
}
.peu img {
	margin: 0px 5px;
}
.peulogos {
	width: 100%;
	height: 86px;
	line-height: 86px;
	vertical-align: top;
}
.peulogos img {
	margin: 0px 10px;
}


.titolbloc {
	font-size: 100%;
	height: 25px;
	line-height: 25px;
	color: #000000;
	margin: 5px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	font-weight: bold;
	background-image: url(/images/fons_titolbloc_01.png);
	background-repeat: no-repeat;
}
.opcions {
	width: 100%; 
	min-height: 250px; height: auto !important; height: 250px; 
	margin: 0px;
}
.opciollista {
	width: 155px; 
	min-height: 130px; height: auto !important; height: 130px; 
	float: left;
	margin: 0px 27px 15px 0px;
	padding: 0px;
	font-size: 90%;
	border: 1px solid #ccc;
}
.opciollista img {
	width: 155px;
	max-width: 155px;
	padding: 0px;
}
html>body .opciollista { 
	overflow: auto; 
}
.opciollistaseparador {
	width: 95%;
	height: 25px;
	margin: 14px 0px 0px 10px;
	clear: both;
}
.opciollista h1 {
	font-size: 100%;
	color: #000;
	margin-left: 0px;
	font-weight: bold;
	font-family: sans-serif, arial;
}
.opciollista a {
	min-height: 15px; 
	height: auto !important; 
	height: 15px; 
	color: #666;
	text-decoration: none;
}
.opciollista a:hover {
	color: #000;
}
.opciollista .resum { 
	padding: 0px; 
	margin: 0px;
}



.subopcions {
	width: 100%;
	min-height: 250px; height: auto !important; height: 250px;
	clear: both;
}
.subopcions .imatge {
	width: 227px;
	min-height: 250px; height: auto !important; height: 250px;
	margin: 0px 25px 0px 0px;
	padding: 0px;
	float: left;
}
.subopcions .imatge img {
	margin: 5px 0px 0px 0px;
	padding: 0px;
}
.subopcions .contingut {
	width: 710px;
	min-height: 250px; height: auto !important; height: 250px; 
	float: left;
	margin: 0px;
	padding: 0px;
}

.subopcions .contingutreg {
	width: 100%;
	min-height: 100px; height: auto !important; height: 100px;
	margin: 0px;
	padding: 0px;
}
.subopcions .contingutreg .titol {
	font-size: 120%;
	margin: 0px 0px 3px 0px;
}
.subopcions .contingutreg a {
	color: #E31853;
	font-weight: bold;
	text-decoration: none;
}
.subopcions .contingutreg a:hover {
	color: #666;
}
.subopcions .separadorcontingutreg {
	width: 100%;
	height: 25px;
	clear: both;
	margin: 0px;
	padding: 0px;
	background-image: url(/images/fons_contingutreg_01.png);
	background-repeat: repeat-x;
	background-position: left center;
}


.iconesregistre {
	width: 35px;
	min-height: 30px; 
	height: auto !important; 
	height: 30px;
	margin: 10px 10px 10px 5px;
	float: left;
	text-align: center;
}
.contingutregistre {
	width: 100%;
	top: 0px;
	left: 0px;
}
.iconesregistre1 {
	width: 35px;
	min-height: 130px; height: auto !important; height: 130px; 
height: auto !important; 
height: 30px;
	margin: 10px 10px 10px 5px;
	float: left;
	text-align: center;
}
.registreportada {
	width: 227px; 
	min-height: 250px; height: auto !important; height: 250px; 
	float: left;
	margin: 0px 20px 25px 0px;
	padding: 0px;
	font-size: 90%;
	z-index: 1;
}

html>body .registreportada { overflow: auto; }
.registreportada h1 {
	font-size: 100%;
	color: #000;
	margin-left: 0px;
	font-weight: bold;
	font-family: sans-serif, arial;
}
.registreportada h1 a { 
	color: #000;
	text-decoration: none;
}
.registreportada a:hover {
	color: #666;
	text-decoration: none;
}
.registreportada p {
	margin: 0px;
}
.registreportada .resum {
	top: 0px;
	left: 0px;
	position: relative;
	z-index: 1000;
	background-color: #ffffaa;
}
.registreportada .seguir {
	color: #666666;
}
.registreportada .imatge {
	top: 0px;
	left: 0px;
	position: relative;
	background-color: #ffffff;
	z-index: 500;
}
.registreportada .imatge img {
	max-width: 227px;
	max-height: 227px;
}
.registreportada .img_esq_text {
	float: left;
	margin: 5px 5px 5px 0px;
	padding: 5px;
}
.registreportada .img_dta_text {
	float: right;
	margin: 5px 0px 5px 5px;
	padding: 5px;
}
.registreportada .img_esq {
	text-align: left;
	display: block;
	margin: 5px 5px 5px 0px;
	padding: 5px;
	clear: both;
}
.registreportada .img_dta {
	text-align: right;
	display: block;
	margin: 5px 0px 5px 5px;
	padding: 5px;
	clear: both;
}
.registreportada .img_mig {
	display: block;
	margin: 5px auto 5px auto;
	padding: 5px;
	clear: both;
}
html>body .registreportada .miniaturesh { overflow: auto; }

.paragrafseparador1 {
	width: 100%;
	height: 15px;
	background-image: url(/images/separador01.gif);
	background-repeat: no-repeat;
	margin: 10px 0px 5px 0px;
	padding: 0px;
}

.comentari {
	width: 500px;
	min-height: 70px; height: auto !important; height: 70px;
	font-size: 90%;
}
.comentari p.primeraicona {
	width: 40px;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	background-image: url(/images/icona_comentari.png);
	background-repeat: no-repeat;
	background-position: 5px 0px;
	font-size: 7pt;
	text-align: center;
	color: #000;
	background-color: #C2C9CF;
	float: left;
	margin: 0px;
	padding: 0px;
}
.comentari p.primeracoment {
	height: 24px;
	line-height: 24px;
	margin: 0px;
	vertical-align: middle;
	background-color: #C2C9CF;
}
.comentari .textcoment {
	color: #000000;
}

.registre {
	width: 756px;
	min-height: 200px; height: auto !important; height: 200px; 
	clear: both;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 90%;
}
html>body .registre { overflow: auto; }
.registre .imatgeprincipal {
	margin: 0px 0px 1px 0px;
	max-width: 710px;
	text-align: left;
	clear: both;
}
.videoyoutube {
	margin: 0px 0px 5px 0px;
	width: 710px;
	height: 400px;
}
.videovimeo {
	margin: 0px 0px 5px 0px;
	width: 710px;
	height: 400px;
}
.contingutregistre1 {
	width: 227px;
	float: left;
	min-height: 200px; height: auto !important; height: 200px;
	margin: 0px 25px 0px 0px;
	padding: 0px;
	font-size: 90%;
}
.contingutregistre1 a {
	color: #E31853;
	text-decoration: none;
}
.contingutregistre1 a:hover {
	color: #666;
}
.contingutregistre1 .subbotons1 {
	width: 100%;
	min-height: 1px; height: auto !important; height: 1px;
	margin: 0px;
	padding: 0px;
	clear: both;
}
.contingutregistre1 .subbotons1 img {
	float: left;
	margin: 5px 5px 0px 0px;
	width: 18px;
}
.contingutregistre2 {
	width: 460px; 
	float: left;
	min-height: 200px; height: auto !important; height: 200px;
	margin: 0px;
	padding:  0px;
	text-align: justify;
}
.contingutregistre2 a {
	color: #666;
	text-decoration: underline;
}
.contingutregistre2 a:hover {
	color: #E31853;
}
.registre h1 {
	font-size: 260%;
	color: #392e2e;
	margin: 0px;
	text-align: left;
}
.registre h2 {
	font-size: 150%;
	color: #392e2e;
	margin: 0px;
}
.registre p {
	margin: 10px 0px 5px 0px;
}
.links p {
	margin: 5px 0px;
}
.links a {
	color: #666;
}
.links a:hover{
	color: #E31853;
}
.registe a {
	color: #666;
	text-decoration: none;
}
.registe a:hover {
	color: #E31853;
	text-decoration: none;
}
.registre .titol {
	width: 460px;
	margin: 0px 0px 0px 252px;
	clear: both;
}
.registre .resum {
	margin: 10px 0px;
	padding: 0px;
	font-weight: bold;
	color: #E31853;
}
.registre .tema {
	margin: 10px 0px;
	padding: 0px;
	font-weight: bold;
	color: #E31853;
}

.registre .textresaltat {
	color: #E31853;
	font-weight: bold;
}
.registre .imatge {
	float: right;
	margin: 5px;
	padding: 3px;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}
.registre .img_esq_text {
	float: left;
	margin: 5px 5px 5px 0px;
	padding: 5px;
}
.registre .img_dta_text {
	float: right;
	margin: 5px 0px 5px 5px;
	padding: 5px;
}
.registre .img_esq {
	text-align: left;
	display: block;
	margin: 5px 5px 5px 0px;
	padding: 5px;
	clear: both;
}
.registre .img_dta {
	text-align: right;
	display: block;
	margin: 5px 0px 5px 5px;
	padding: 5px;
	clear: both;
}
.registre .img_mig {
	display: block;
	margin: 5px auto 5px auto;
	padding: 5px;
	clear: both;
}
.registre .separadorregistre {
	width: 100%;
	height: 3px;
	clear: both;
	border-bottom: 1px solid #666;
	margin: 10px 0px;
}
html>body .registre .miniaturesh { overflow: auto; }

.galeria_mini {
	width: 140px;
	height: 140px;
	margin: 5px 1px;
	text-align: center;
	float: left;
}
.galeria_mini img {
	max-width: 120px;
	max-height: 130px;
	margin: 0px auto;
	padding: 3px;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}



.galeria_gran {
	width: 98%;
	min-height: 300px; 
	height: auto !important; 
	height: 300px; 
	margin: 5px 0px;
	text-align: center;
}
.galeria_gran .navega_img {
	width: 100%;
	height: 15px;
	clear: both;
	margin: 15px 0px;
}
.galeria_gran .anterior p {
	width: 150px;
	padding: 0px;
	margin: 0px 5px;
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	float: left;
}
.galeria_gran .anterior p a {
	line-height: 15px;
	vertical-align: middle;
	padding: 0px 0px 0px 20px;
	background-image: url(/images/icona03.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
}
.galeria_gran .anterior p a:hover {
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	padding: 0px 0px 0px 20px;
	background-image: url(/images/icona04.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
}

.galeria_gran .seguent p {
	width: 150px;
	padding: 0px;
	margin: 0px 5px;
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	float: right;
	text-align: right;
}
.galeria_gran .seguent p a {
	line-height: 15px;
	vertical-align: middle;
	padding: 0px 20px 0px 0px;
	background-image: url(/images/icona01.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
}
.galeria_gran .seguent p a:hover {
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	padding: 0px 20px 0px 0px;
	background-image: url(/images/icona02.png);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
}
.galeria_gran img {
	max-width: 550px;
	margin: 0px auto;
	padding: 3px;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}
.galeria_gran .titol {
	font-weight: bold;
	font-size: 120%;
}
.galeria_gran .desripcio {
	font-size: 100%;
}


.registre1 {
	width: 560px; 
	min-height: 120px; 
	height: auto !important; 
	height: 30px; 
	clear: both;
	margin: 10px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
}
html>body .registre1 { overflow: auto; }
.registre1 h1 {
	font-size: 190%;
	color: #392e2e;
}
.registre1 a { 
	color: #1A5184;
}
.registre1 a:hover {
	color: #666666;
}
.registre1 p {
	margin: 5px 5px;
	text-align: justify;
}
.registre1 .formulari {
	font-size: 80%;
}
.registre1 form td {
	vertical-align: top;
}
.registre1 form .campobligatori {
	font-weight: bold;
}

.blocdestacat1 {
	text-align: center;
	padding: 10px;
}
.blocdestacat1 p {
	margin: 10px;
}
.blocdestacat1 p.imatge {
	width: 100%;
	margin: 10px;
	border: 0px solid #fff;
	text-align: center;
	background: none;
	clear: both;
}

.pestanya_activitat {
	width: 65px;
	height: 55px;
	margin: 5px;
	padding: 0px;
	font-size: 8pt;
	font-weight: bold;
	color: #fff;
	background-image: url(/images/fons_activitat01.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.pestanya_activitat p {
	padding: 0px;
	margin: 1px 0px 0px 0px;
	text-align: right;
}



.pestanya_comentaris {
	width: 70px;
	height: 55px;
	margin: 15px 0px 5px 5px;
	padding: 0px;
	font-size: 8pt;
	font-weight: bold;
	color: #fff;
	background-image: url(/images/fons_comentaris01.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.pestanya_comentaris p {
	padding: 0px;
	margin: 1px 10px 0px 30px;
	text-align: center;
}

.pestanya_afegircomentaris {
	width: 65px;
	height: 55px;
	margin: 15px 0px 5px 5px;
	padding: 0px;
	font-size: 8pt;
	font-weight: bold;
	color: #fff;
}
.pestanya_afegircomentaris p {
	padding: 0px;
	margin: 1px 0px 0px 0px;
	text-align: right;
}

.iconaregistre {
	width: 35px;
	height: 55px;
	margin: 0px;
	padding: 0px;
	font-size: 10pt;
	font-weight: bold;
	color: #fff;
	background-image: url(/images/opcio_llista02.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.dataregistre {
	width: 35px;
	height: 55px;
	margin: 0px;
	padding: 0px;
	font-size: 10pt;
	font-weight: bold;
	color: #fff;
	background-image: url(/images/fons_data02.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.dataregistre p {
	width: 35px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}
.dataregistre .d {
	margin: 2px 0px 0px 0px;
	padding-top: 3px;
	text-align: center;
	color: #766868;
	font-size: 12pt;
}
.dataregistre .m {
	color: #766868;
	font-size: 8pt;
	text-align: center;
}


.boto01 {
	padding: 0px;
	margin: 0px;
	list-style: none;
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	font-weight: bold;
	clear: both;
}
.boto01 a {
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	padding: 0px 0px 0px 5px;
	background-image: url(/images/icona-doc01.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
}
.boto01 a:hover {
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	padding: 0px 0px 0px 5px;
	background-image: url(/images/icona-doc02.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
}
.boto01 a span {
	display: block;
	padding: 0px 0px 0px 15px;
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
}
.boto01 a:hover span {
	display: block;
	padding: 0px 0px 0px 15px;
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
}

.boto02 {
	font-weight: bold;
	clear: both;
}
.boto02 {
	padding: 0px;
	margin: 10px 0px;
	list-style: none;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}
.boto02 a {
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	padding: 0px 0px 0px 5px;
	background-image: url(/images/icona-web01.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
}
.boto02 a:hover {
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	padding: 0px 0px 0px 5px;
	background-image: url(/images/icona-web02.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
}
.boto02 a span {
	display: block;
	padding: 0px 0px 0px 15px;
	height: 21px;
	line-height: 21px;
	vertical-align: middle;
}
.boto02 a:hover span {
	display: block;
	padding: 0px 0px 0px 15px;
	height: 21px;
	line-height: 21px;
	vertical-align: middle;
}


.boto03 {
	font-weight: bold;
	clear: both;
}
.boto03 {
	padding: 0px;
	margin: 10px 0px;
	list-style: none;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}
.boto03 a {
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	padding: 0px 0px 0px 5px;
	background-image: url(/images/icona-doc01.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
}
.boto03 a:hover {
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	padding: 0px 0px 0px 5px;
	background-image: url(/images/icona-doc02.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
}
.boto03 a span {
	display: block;
	padding: 0px 0px 0px 15px;
	height: 21px;
	line-height: 21px;
	vertical-align: middle;
}
.boto03 a:hover span {
	display: block;
	padding: 0px 0px 0px 15px;
	height: 21px;
	line-height: 21px;
	vertical-align: middle;
}




.acceskey { text-decoration: underline; }
.separador { clear: both; margin: 0px; padding: 0px; height: 1px; }
.separador1 {
	width: 100%;
	height: 3px;
	margin: 5px 0px 10px 0px;
	padding: 0px;
	clear: both;
	background-color: #B6C2C1;
}


.tirafotos { 
 width: 325px; 
 min-height: 140px;  height: auto !important; height: 140px;
 margin: 0px;
 padding: 0px;
 margin: 10px 0px 0px 0px;
 padding: 0px;
  }
.tirafotos img  { border: 1px solid #E3E1E1; }
.tirafotos ul { list-style-type: none; width: 100%; margin: 5px;    }
.tirafotos li { 
 width: 150px;  
 margin: 0px 7px 0px 0px; 
 display: inline; float: left;
 }




.xarxes {
	width: 100%;
	margin: 10px 0px;
	border-top: 1px solid #666;
	font-size: 80%;
}
.xarxes p {
	color: #666;
	margin: 10px 0px;
}
.xarxes img {
	margin: 0px 5px 0px 0px;
	float: left;
}
.xarxes a {
	text-decoration: none;
	color: #666;
	display: block;
}
.xarxes a:hover {
	text-decoration: none;
	color: #000;
	display: block;
}




ul.mapa1 {
	font-size: 110%;
	margin: 5px 5px 5px 10px;
	padding: 0px 0px 0px 15px;
	list-style-type: none;
}
ul.mapa1 li {
	background-image: url(/images/mapa_abre1.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 10px;
}
ul.mapa1 a {
	font-weight: normal;
	color: #000000;
}
ul.mapa1 a:hover {
	font-weight: normal;
	color: #766868;
}
ul.mapa2 {
	font-size: 95%;
	color: #22aa11;
	margin: 5px 0px;
	padding: 0px 0px 0px 15px;
	list-style-type: none;
}
ul.mapa2 li {
	background-image: url(/images/mapa_abre2.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 10px;
}
ul.mapa2 a {
	font-weight: normal;
	color: #000000;
}
ul.mapa2 a:hover {
	font-weight: normal;
	color: #766868;
}
ul.mapa3 {
	font-size: 95%;
	color: #11ffaa;
	margin: 5px 0px;
	padding: 0px 0px 0px 15px;
	list-style-type: none;
}
ul.mapa3 li {
	background-image: url(/images/mapa_abre3.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 10px;
}
ul.mapa3 a {
	font-weight: normal;
	color: #000000;
}
ul.mapa3 a:hover {
	font-weight: normal;
	color: #766868;
}
ul.mapa4 {
	font-size: 95%;
	color: #ff0000;
	margin: 5px 0px;
	padding: 0px 0px 0px 15px;
	list-style-type: none;
}
ul.mapa4 li {
	background-image: url(/images/mapa_abre4.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 10px;
}
ul.mapa4 a {
	font-weight: normal;
	color: #000000;
}
ul.mapa4 a:hover {
	font-weight: normal;
	color: #766868;
}



#scrollingText {
	width: 950px;
	min-height: 20px;
	height: 20px;
	position: relative;
	margin: 5px auto 10px auto;
	padding: 0px 5px;
	background-color: #000000;
	color: #ffffff;
}
#scrollingText a {
	color: #ffffff;
}
#scrollingText a:hover {
	color: #ffffff;
	text-decoration: underline;
}

#scrollingText div.scrollableArea * {
	display: inline;
	min-height: 20px;
	height: 20px;
	margin: 2px 0px;
	padding: 5px;
	font-size:12px; 
	width: auto;
	height: auto;
	text-decoration: none;
}
.tanca_ticker {
	width: 23px;
	min-height: 20px;
	height: 20px;
	margin: 0px 10px 0px 20px;
	padding: 8px 5px 2px 25px;
	background-image: url(/images/separador-ticker-01.gif);
	background-repeat: no-repeat;
	background-position: left;
}
.separador_ticker {
	min-height: 20px;
	height: 20px;
	margin: 0px 10px 0px 20px;
	padding: 8px 5px 2px 5px;
	background-image: url(/images/separador-ticker-02.gif);
	background-repeat: no-repeat;
	background-position: left;
}


.form-recomanar {
	 width: 98%;
	 min-height: 170px; height: auto !important; height: 170px;
	 margin: 30px 0px 10px 0px;
	 border: 1px solid #dedede;
	 background-color: #fff;
	 clear: both;
}
.form-recomanar p.titol {
	 width: 110px;
	 height: 15px;
	 margin: 0px 0px 10px 0px;
	 padding: 2px;
	 background-color: #dedede;
}
.form-recomanar form {
	 margin: 0px 3px;
}
.registre .botoformulari {
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	background-color: #ccc;
	font-weight: bold;
}

.barra-compartir {
	width: 99%;
	min-height: 70px; height: auto !important; height: 70px;
	margin: 30px 0px 10px 0px;
	border: 1px solid #dedede;
	background-color: #fff;
	clear: both;
}
.barra-compartir p.titol {
	 width: 110px;
	 height: 15px;
	 margin: 0px 0px 10px 0px;
	 padding: 2px;
	 background-color: #dedede;
}
.barra-compartir a {
	 margin: 0px 3px;
	 float: left;
	 border: 1px solid #fff;
	 background-color: #fff;
}
.barra-compartir a:hover {
	 margin: 0px 3px;
	 float: left;
	 border: 1px solid #ccc;
}
.barra-compartir a img {
	width: 19px;
	height: 19px;
	padding: 6px 5px 2px 5px;
}
.barra-compartir a:hover img {
	padding: 6px 5px 2px 5px;
}

.paginador {
	color: #666;
	margin: 0px;
	padding: 5px 0px 25px 0px;
	clear: both;
	font-size: 80%;
}
.paginador .pactual {
	color: #E31853;
	padding: 0px 20px 0px 0px;
}
.paginador a {
	color: #666;
	text-decoration: none;
	margin: 0px 20px 0px 0px;
}
.paginador a:hover {
	color: #E31853;
}


ol.bloc01 {
	width: 100%;
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 90%;
}
ol.bloc01 li {
  position: relative;
  width: 155px;
  height: 260px;
  background-color: #fff;
  float: left;
  padding: 0px 0px 10px 0px;
	margin: 0px 27px 15px 0px;
}
ol.bloc01  h1 {
	font-size: 100%;
	color: #000;
	margin-left: 0px;
	font-weight: bold;
	font-family: sans-serif, arial;
	margin: 3px 0px;
}
ol.bloc01  h1 a { 
	color: #666;
	text-decoration: none;
}
ol.bloc01  a:hover {
	color: #000;
	text-decoration: none;
}
ol.bloc01  p {
	margin: 0px;
}
ol.bloc01 .seguir {
	color: #666666;
}
ol.bloc01 .tema {
	color: #E31853;
	font-size: 90%;
	margin: 5px 0px 0px 0px;
}
ol.bloc01 .resum {
	width: 200px;
	color: #666;
	font-size: 80%;
}
ol.bloc01 li div.bloc01a {
	position: relative;
	clear: left;
	margin-bottom: 10px;
	background: #fff;
	/* ombra al peu de bloc01 ---------------------------------------
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); */
}
ol.bloc01 li div.bloc01a p {
	line-height: 15px;
}
ol.bloc01 li div.bloc01a div.bloc01a-shot {
	padding: 0px;
	/*background: url(images/bloc01-check-sm.png) no-repeat top left; */
}
ol.bloc01 li div.bloc01a a.bloc01-over {
	opacity: 0;
	/* revealed on hover with jQuery */
	filter: alpha(opacity=0);
	/* IE hack */
	position: absolute;
	top: 0px;
	left: 0px;
	width: 217px;
	height: 150px;
	min-height: 50px; height: auto !important; height: 50px;
	margin: 0;
	padding: 5px 5px 10px 5px;
	line-height: 2;
	text-decoration: none;
	color: #000;
	background: rgba(255, 255, 255, 0.8); 
	overflow: hidden;
}



.contingutregistre1 .links p{	margin:0;
	
	
}

.pagination {
	color: #666;
	margin: 0px;
	padding: 5px 0px 25px 0px;
	clear: both;
	font-size: 80%;
}
.pagination span.current {
	color: #E31853;
	padding: 0px 20px 0px 0px;
}
.pagination a {
	color: #666;
	text-decoration: none;
	margin: 0px 20px 0px 0px;
}
.pagination a:hover {
	color: #E31853;
}
.pagination .next,.last,.first,.previous{
	
	display:none;
	
}
.success{
	margin:10px 0;
	text-align: center;
	padding: 3px 0;
	background-color: #FDD;
	
}
#newsletter form{
	margin: 10px 0;
	
}
#form_newsletter{
	display:none;
	
}
#form_newsletter #mp_newsletter_user_email{

width: 175px;
border: 1px solid #666;
margin:3px 0px 10px 0;
}
#newsletter h5{
	margin:10px 0;
	font-size:1em;
	font-weight:normal;
	color: #666;
	cursor:pointer;
	
	
}
#mp_newsletter_button_confirm{
	cursor:pointer;
	
}
.agenda{
    width:100%;
    border-top:1px solid #666;
    margin-top: 10px;
    padding-top: 10px;
}
.agenda table.calendari{
    margin-top:7px;
    width: 180px;
}
.calendar-header-title{

    position: relative;
    right: 28px;

}
#agenda_boto_esquerre, #agenda_boto_dret{
    position:relative;
    left:156px;
    float:left;
    width:15px;
    cursor: pointer;
}

 table.calendari tbody tr td {
    padding: 3px 5px;
     font-size: 0.9em;
     text-align: right;
}
table.calendari tbody tr td:first-child {

    padding-left:0;
}

table.calendari tbody tr td:last-child{

    padding-right:0;
}
table.calendari tbody tr td a{
    text-decoration: none;
    color: #E31853;

}
#activitats_agenda{
    font-size:1.3em;
    margin:0 5px;
}