{% if arxiu == 1 %}
    <div class="categories">
        <ul>
            {% for categoria in categories %}
                {% if categoria.link == null %} {# categoria no te enllaç #}
                    {% if categoria.arxiu == 0 %}
                        {% if categoria.subcategoria[0].llista == 0 %}
                            {% if categoria_id is sameas(categoria.subcategoria[0].link) %}
                                <li>
                                    <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: categoria.subcategoria[0].link.id, tipus: 1, actiu: 1, titol: categoria, llista: 0}) %}</span>
                                </li>
                            {% else %}
                                <li>
                                    <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: categoria.subcategoria[0].link.id, tipus: 1, actiu: 0, titol: categoria, llista: 0}) %}</span>
                                </li>
                            {% endif %}
                        {% else %}
                            {% if categoria.id == categoria_id %}
                                <li>
                                    <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: null, tipus: 5, actiu: 1, titol: categoria, llista: 1}) %}</span>
                                </li>
                            {% else %}
                                <li>
                                    <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: null, tipus: 5, actiu: 0, titol: categoria, llista: 1}) %}</span>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <li>
                            <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: null, tipus: 6, actiu: 1, titol: categoria, llista: 1}) %}</span>
                        </li>
                    {% endif %}
                {% else %}
                    {% if categoria.arxiu == 1 %}
                        <li>
                            <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: categoria.link.id, tipus: 2, actiu: 1, titol: categoria, llista: 0}) %}</span>
                        </li>
                    {% else %}
                        <li>
                            <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: categoria.link.id, tipus: 2, actiu: 0, titol: categoria, llista: 0}) %}</span>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% include 'MenuBundle:Default:search-bar-from.fragment.html.twig' %}
        </ul>
    </div>
{% else %}
    <div class="categories">
        <ul>
            {% for categoria in categories %}
                {% if  categoria.link == null %} {# categoria no te enllaç #}
                    {% if categoria.arxiu == 0 %}
                        {% if categoria.subcategoria[0].llista == 0 %}
                            {% if categoria_id is sameas(categoria.subcategoria[0].link) %}
                                <li>
                                    <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: categoria.subcategoria[0].link.id, tipus: 1, actiu: 1, titol: categoria, llista: 0}) %}</span>
                                </li>
                            {% else %}
                                <li>
                                    <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: categoria.subcategoria[0].link.id, tipus: 1, actiu: 0, titol: categoria, llista: 0}) %}</span>
                                </li>
                            {% endif %}
                        {% else %}
                            {% if categoria.id == categoria_id %}
                                <li>
                                    <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: null, tipus: 5, actiu: 1, titol: categoria, llista: 1}) %}</span>
                                </li>
                            {% else %}
                                <li>
                                    <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: null, tipus: 5, actiu: 0, titol: categoria, llista: 1}) %}</span>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if categoria.id == categoria_id %}
                            <li>
                                <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: null, tipus: 6, actiu: 1, titol: categoria, llista: 1}) %}</span>
                            </li>
                        {% else %}
                            <li>
                                <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: null, tipus: 6, actiu: 0, titol: categoria, llista: 1}) %}</span>
                            </li>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if categoria_id == categoria.id %}
                        <li>
                            <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: categoria.link.id, tipus: 2, actiu: 1, titol: categoria, llista: 0}) %}</span>
                        </li>
                    {% else %}
                        <li>
                            <span>{% render controller("MenuBundle:Default:creaLink", {idPagina: categoria.link.id, tipus: 2, actiu: 0, titol: categoria, llista: 0}) %}</span>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% include 'MenuBundle:Default:search-bar-from.fragment.html.twig' %}
        </ul>
    </div>
{% endif %}
