<table class="row white-background">
    <tbody>
    <tr>
        <th class="small-12 large-12 first last columns{% if class is defined %} {{ class }}{% endif %}">
            <hr style="margin:0">
        </th>
        <th class="expander"></th>
    </tr>
    </tbody>
</table>
