<table class="row white-background">
    <tbody>
    <tr>
        <th class="small-12 large-12 first last columns padding-bottom">
            <hr>
        </th>
        <th class="expander"></th>
    </tr>
    </tbody>
</table>
