<table class="spacer{% if show_for_large is defined %} show-for-large{% endif %}">
    <tbody>
    <tr>
        <td height="{{ size }}px" style="font-size:{{ size }}px;line-height:{{ size }}px;">&#xA0;</td>
    </tr>
    </tbody>
</table>
