{% if not object.state and object.tested %}
    <a href="{{ admin.generateObjectUrl('send', object) }}" class="btn btn-sm btn-default edit_link" title="Envia">
            <i class="fa fa-envelope"></i></a>
{% endif %}
