{% extends 'AdminBundle:IsolatedNewsletter:base_email.html.twig' %}

{% block subject %}Resposta{% endblock %}

{% block content %}
    {% for post in newsletter.posts %}
        <table class="row">
            <tbody>
            <tr>
                <th class="small-12 large-12 columns first last vertical-padding">
                    <table>
                        <tr>
                            <th>
                                <h4>{{ post.title }}</h4>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </table>
                </th>
            </tr>
            </tbody>
        </table>
        {% include 'AdminBundle:IsolatedNewsletter:include_hr_separator.html.twig' %}
    {% endfor %}
{% endblock %}
