<div class="peu" style="text-align: left;">

{% if peu is not empty %}

    <div style='width: 155px; margin: 0px 27px 10px 0px; font-size: 80%; float: left;'>

	{% if peu.adresa %}
			{{ peu.adresa | raw }}
		{% endif %}
	</div>
	<div style='width: 155px; margin: 0px 27px 10px 0px; font-size: 80%; float: left;'>
		{{ peu.horari | raw }}
	</div>
	<div style='width: 155px; margin: 0px 27px 10px 0px; font-size: 80%; float: left;'>
		{{ peu.organitza | raw }}
	</div>
	<div style='width: 155px; margin: 0px 27px 10px 0px; font-size: 80%; float: left;'>
		{{ peu.colabora | raw }}
	</div>
{% endif %}
	<div style="width: 155px; margin: 0px 0px 10px 32px; font-size: 80%; float: left;">
		<a rel="external" href="http://cat.creativecommons.org/llicencia/" target="_blank">
			<img src="/images/creativecommons.png" style="width: 70px;" alt="continguts amb llicència creative commons">
		</a>
	</div>
</div>
<script type='text/javascript'>
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-29818278-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); 
		ga.type = 'text/javascript'; 
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; 
		s.parentNode.insertBefore(ga, s);
	})();
</script>