{% extends 'AdminBundle:IsolatedNewsletter:base_email.html.twig' %}

{% block subject %}Newsletter confirm{% endblock %}

{% block content %}
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last">
                <p>
                    S'ha activat el seu compte de correu. A partir d'ara ja podrà rebre el nostre butlletí informatiu. Gràcies pel seu interès.
                </p>
                {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 40} %}
                <p>
                    Si per qualsevol motiu no vol continuar rebent els nostres butlletins, visiteu aquesta adreça: <a href="{{ url('newsletter_confirm_unsuscribe', {token: user.token}) }}">eliminar subscripció</a>.
                </p>
                {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 40} %}
                <p>Atentament, Lo Pati.</p>
            </th>
            <th class="expander"></th>
        </tr>
        </tbody>
    </table>
    {% include 'AdminBundle:IsolatedNewsletter:include_hr_separator.html.twig' %}
{% endblock %}
