<p><strong>Estimado usuario:</strong></p>
<p>
   Se ha activado su cuenta de correo y ya podrá recibir nuestro Boletín Informativo. Gracias por su interés.
</p>
<p>
    Si desea por cualquier motivo no continuar recibiendo nuestros boletines, visite esta dirección: <a href="{{ url('newsletter_confirm_unsuscribe', { 'token': user.token }) }}">Eliminar suscripcion</a>
</p>

<p>Atentamente, Equipo de Toldos Benavente.</p>

