{% extends 'AdminBundle:IsolatedNewsletter:base_email.html.twig' %}

{% block subject %}Newsletter confirm{% endblock %}

{% block content %}
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last">
                <p>
                    Hem rebut una petició de subscripció de l'adreça {{ user.email }} al newsletter de Lo Pati.
                </p>
                {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 40} %}
                <p>
                    Per confirmar la subscripció, si us plau, fes clic <a href="{{ url('newsletter_confirmation', {token: user.token}) }}">aquí</a>.
                </p>
                {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 40} %}
                <p style="font-size:10px;">
                    Si l'enllaç no funciona, copiï aquesta adreça {{ url('newsletter_confirmation', {token: user.token}) }} al seu navegador.
                </p>
            </th>
            <th class="expander"></th>
        </tr>
        </tbody>
    </table>
    {% include 'AdminBundle:IsolatedNewsletter:include_hr_separator.html.twig' %}
{% endblock %}
