{% extends '::frontend.html.twig' %}

{% block title %}{% endblock %}

{% block menu %}
    {% render controller("MenuBundle:Default:pintaMenu", {id: null, llista: 0}) %}
{% endblock %}

{% block contenidor %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div style="width: 100%; height: 30px; background: none;"></div>
    <div class="contenidor">
        <div class="continguts">
            <h5>{% trans %}confirm.eliminar{% endtrans %}</h5>
            {# TODO #}
            {#<p>{% trans %}confirm.text{% endtrans %}<a href="{{ url('newsletter_unsuscribe', { 'token': token }) }}">#}
            {#</p>#}
            {#<button id="mp_newsletter_button_confirm" type="submit"#}
                    {#onclick="window.location.href='{{ url('newsletter_unsuscribe', { 'token': token }) }}'">{% trans %}#}
                {#borrar{% endtrans %}</button>#}
        </div>
    </div>
{% endblock %}
