{% extends 'AdminBundle:IsolatedNewsletter:base_email.html.twig' %}

{% block subject %}Newsletter unsubscribe{% endblock %}

{% block content %}
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last">
                <p>
                    S'ha rebut una petició per donar-se de baixa al nostre butlletí informatiu. Per confirmar definitivament la baixa fes clic <a href="{{ url('newsletter_unsuscribe', { 'token': user.token }) }}">aquí</a>.
                </p>
                {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 40} %}
                <p>Atentament, Lo Pati</p>
            </th>
            <th class="expander"></th>
        </tr>
        </tbody>
    </table>
    {% include 'AdminBundle:IsolatedNewsletter:include_hr_separator.html.twig' %}
{% endblock %}
