
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Documento sin título</title>
<style type="text/css">
.Titul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.Titul p {
	font-family: Arial, Helvetica, sans-serif;
}
c {
	font-size: 10px;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 5px;
	font-size: 10px;
}
.cont {
	font-size: 9px;
}
.cont {
	font-size: 10px;
}
.cont {
}
.cont .cont .cont {
	font-size: 9px;
}
#cv {
	font-family: Arial, Helvetica, sans-serif;
}
#b {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 10px;
}
.cont .Titul {
	font-size: 12px;
}
.vds {
	font-family: "Arial Black", Gadget, sans-serif;
}
.bfa {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.contring {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
body p {
	font-size: 12px;
}
.contring p strong {
	font-size: 12px;
}
.contring p strong {
	line-height: normal;
}
.contring strong {
	font-weight: normal;
}
</style>
</head>

<body>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="15" rowspan="2">&nbsp;</td>
    <td width="170" valign="top" class="Titul">Lo Patí Newsletter    </td>
    <td width="30">&nbsp;  </td>
    <td width="170" valign="top"><span class="cont"><span class="cont">Clica aquí per visualitzar correctament</span></span>    <span class="cont"><span class="cont">Clica aquí per donar-te de baixa</span></span></td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="15" rowspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" class="Titul">01 / Maig 2012</td>
    <td width="30">&nbsp;</td>
    <td width="170" valign="top">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
  </tr>
  <tr>
    <td width="15">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="15">&nbsp;</td>
  </tr>
  <tr>
    <td width="15">&nbsp;</td>
    <td colspan="5" align="center" valign="middle"><img src="cap 570.jpg" width="570" height="115" /></td>
    <td width="15">&nbsp;</td>
  </tr>
  <tr>
    <td width="15">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="15">&nbsp;</td>
  </tr>
  <tr>
    <td width="15">&nbsp;</td>
    <td colspan="5" align="center" valign="middle"><hr /></td>
    <td width="15">&nbsp;</td>
  </tr>
  <tr>
    <td width="15">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="15">&nbsp;</td>
  </tr>
  <tr>
    <td width="15">&nbsp;</td>
    <td colspan="5" align="center" valign="middle"><img src="imatge.jpg" width="570" height="366" /></td>
    <td width="15">&nbsp;</td>
  </tr>
  <tr>
    <td width="15">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="15">&nbsp;</td>
  </tr>
  <tr>
    <td width="15" rowspan="12">&nbsp;</td>
    <td width="170" rowspan="2">&nbsp;</td>
    <td width="30" rowspan="2">&nbsp;</td>
    <td colspan="3" class="vds"><p>Miscel·lania    </p></td>
    <td width="15" rowspan="12">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" class="vds">L'Aula al Pati</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" class="bfa"><p>Lloc</p></td>
    <td width="30" rowspan="8">&nbsp;</td>
    <td colspan="3" rowspan="8" align="left" valign="top"><span class="contring">La consulta popular engegada a Amposta amb motiu del concursd&rsquo;art públic XYZ ha escollit com a guanyador el projecte <strong>The Waterfall</strong>, de l&rsquo;equip d&rsquo;arquitectes Morcillo + Pallarés establert a Cieza (Murcia), Ana Morcillo Pallarés (Murcia, 1980) i Jonathan Russell Rule (Nova York, 1980). El projecte pretèn crear una cascada que flueixi des de dalt del pont penjant d&rsquo;Amposta. Per a fer-ho els seus creadors proposen instal·lar un circuit tancat que agafi aigua del riu de manera constant i l&rsquo;impulsi cap al pont. La instal·lació s&rsquo;inaugurarà el 29 de setembre amb una gran festa amb l&rsquo;objectiu d&rsquo;implicar encara més la ciutadania en el projecte XYZ.      De fet, han sigut els ciutadans i ciutadanes d&rsquo;Amposta els que han escollit <strong>The Waterfall</strong> entre els nou projectes seleccionats. En total, a les cinc urnes instal·lades del 6 al 19 d&rsquo;agost en diferents punts de la ciutat, s&rsquo;han comptabilitzat 1.009 vots, dels quals 318 (31%) han sigut per al projecte guanyador, seguit de molt a prop per <strong>Pontting</strong>, 296 vots (29%). <strong>Fem del pont la font</strong>, ha estat amb 109 vots (11%), el tercer projecte més votat.      Aquesta és la primera edició del concurs d&rsquo;art públic XYZ, un certamen impulsat per Lo Pati Centre d&rsquo;Art de les Terres de l&rsquo;Ebre, dirigit per Antònia Ripoll, Maria Pons i Marian Marin, amb el suport de l&rsquo;Escola d&rsquo;Art i Disseny d&rsquo;Amposta (Esardi) i el Museu de les Terres de l&rsquo;Ebre.      <strong>El projecte guanyador</strong>      A l&rsquo;hora de dissenyar <strong>The Waterfall </strong>els arquitectes guanyadors parteixen de la base que el pont penjant d&rsquo;Amposta és un lloc de transició entre el món urbà i el natural. Conceben l&rsquo;obra com una experiència visual i alhora sonora per a l&rsquo;espectador. L&rsquo;experiència visual és la cascada del pont que es podrà veure des de les dues bandes del pont. La sonora no és altra que el soroll de l&rsquo;aigua caient damunt del riu, una experiència que el ciutadà podrà experimentar al moment de creuar el pont.    </span><br /></td>
  </tr>
  <tr>
    <td valign="top" class="bfa">Lo Pati,Centre d'Art</td>
  </tr>
  <tr>
    <td valign="top" class="bfa">Terres de l'Ebre</td>
  </tr>
  <tr>
    <td valign="top" class="bfa">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" class="bfa">Data </td>
  </tr>
  <tr>
    <td valign="top" class="bfa">18 d'abril 1 i 2 de juny</td>
  </tr>
  <tr>
    <td valign="top" class="bfa">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" class="bfa">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
  </tr>
  <tr>
    <td width="15">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="15">&nbsp;</td>
  </tr>
  <tr>
    <td width="15">&nbsp;</td>
    <td colspan="5" align="center" valign="middle"><hr /></td>
    <td width="15">&nbsp;</td>
  </tr>
  <tr>
    <td width="15" rowspan="5">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170"><p>&nbsp;</p></td>
    <td width="15" rowspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="logo.jpg" width="170" height="107" /></td>
    <td width="30">&nbsp;</td>
    <td width="170" align="left" valign="top" class="contring"><strong>Lo Pati</strong><br />
      Centre d'Art - Terres de l'Ebre<br />
      C/ Gran Capità, 38-40<br />
      Tel. 977 700 904<br />
    43870 Amposta</td>
    <td width="30">&nbsp;</td>
    <td width="170" align="left" valign="top" class="contring"><strong>Organitza:</strong><br />
      <a rel="external" href="http://www.amposta.cat/" target="_blank">Ajuntament d'Amposta</a><br />
      <br />
      <strong>Amb el suport de:</strong><br />
      <a rel="external" href="http://www.gencat.cat/cultura" target="_blank">Generalitat de Catalunya</a><br />
    <a rel="external" href="http://www.diputaciodetarragona.cat/" target="_blank">Diputació de Tarragona</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
    <td width="30">&nbsp;</td>
    <td width="170">&nbsp;</td>
  </tr>
</table>
</body>
</html>
