{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
{% if object.estat == 'Waiting' %}
    <div>
        Esperant
    </div>
    {% elseif object.estat == 'Sendind' %}
        <div style="color:red;">
        Enviant
    </div>
    {% elseif object.estat == 'Sended' %}
        <div style="color:green;">
        Enviat
    </div>
    {% endif %}
{% endblock %}